langchain
llama-index
llama-index-readers-file
llama-index-readers-chroma
llama-index-readers-web
llama-parse
anthropic
ragas
chromadb
unstructured
tiktoken
openai
git+https://github.com/stanfordnlp/dspy.git